{% liquid
  assign product = section.settings['select-product']
  assign product_form_id = 'product-form-' | append: section.id
-%}

{% comment %} カートに追加ボタン {% endcomment %}
{%- render 'buy-buttons',
  block: block,
  product: product,
  product_form_id: product_form_id,
  section_id: section.id,
  show_pickup_availability: true
-%}
{% comment %} カートに追加ボタン 終了 {% endcomment %}

<div
  class="quantity-wrapper"
>
  <label class="form-label" for="Quantity-{{ section.id }}">
    {{ 'products.product.quantity.label' | t }}
  </label>
  <quantity-input class="quantity">
    <button class="quantity__button no-js-hidden" name="minus" type="button">
      <span class="visually-hidden">
        {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
      </span>
      {% render 'icon-minus' %}
    </button>
    <input
      class="quantity__input"
      type="number"
      name="quantity"
      id="Quantity-{{ section.id }}"
      min="1"
      value="1"
      form="{{ product_form_id }}"
    >
    <button class="quantity__button no-js-hidden" name="plus" type="button">
      <span class="visually-hidden">
        {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
      </span>
      {% render 'icon-plus' %}
    </button>
  </quantity-input>
</div>

{% comment %} バリエーション選択肢 {% endcomment %}
<div class="variant-wrapper">
  {% render 'product-variant-picker-custom', product: product, block: block, product_form_id: product_form_id %}
</div>

{% comment %} 値段 {% endcomment %}
<div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
  {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
</div>
{%- if product.quantity_price_breaks_configured? -%}
  <div class="volume-pricing-note">
    <span>{{ 'products.product.volume_pricing.note' | t }}</span>
  </div>
{%- endif -%}
<div class="product__tax caption rte">
  {%- if cart.taxes_included -%}
    {{ 'products.product.include_taxes' | t }}
  {%- endif -%}
  {%- if shop.shipping_policy.body != blank -%}
    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
  {%- endif -%}
</div>
<div {{ block.shopify_attributes }}>
  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {{ form | payment_terms }}
  {%- endform -%}
</div>

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "テストです",
  "settings": [
    {
      "type": "product",
      "id": "select-product",
      "label": "商品を選択してください"
    }
  ],
  "presets": [
    {
      "name": "テストです"
    }
  ]
}
{% endschema %}
